<div class="kg-canvas">
    <div class="container kg-width-wide c-cover-image" {{#if @site.cover_image}}style="background:url({{@site.cover_image}})"{{/if}}>
        <div class="cover-content">
    
            <h1 class="single-title">Marketing Heresies/h1>
            {{#if @site.description}}
                <div class="cover-description single-excerpt">{{@site.description}}</div>
            {{/if}}
    
            {{#if @labs.members}}
                {{#unless @member}}
                    <div class="cover-cta">
                        <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                        <button class="button button-secondary members-login" data-portal="signin">Login</button>
                    </div>
                {{/unless}}
            {{/if}}
        </div>
    </div>
</div>