@import "general/normalize.css";
@import "general/basics.css";
@import "general/grid.css";
@import "general/button.css";
@import "general/form.css";
@import "general/icons.css";
@import "site/layout.css";
@import "site/header.css";
@import "site/sticky.css";
@import "site/cover.css";
@import "site/footer.css";
@import "site/modal.css";
@import "site/search.css";
@import "site/popular.css";
@import "site/burger.css";
@import "blog/feed.css";
@import "blog/featured.css";
@import "blog/pagination.css";
@import "blog/single.css";
@import "blog/author.css";
@import "blog/share.css";
@import "blog/navigation.css";
@import "blog/related.css";
@import "blog/comment.css";
@import "blog/tag.css";
@import "members/plan.css";
@import "members/auth.css";
@import "members/account.css";
@import "members/notification.css";
@import "vendor/owl.css";
@import "vendor/pswp.css";
@import "misc/lazyload.css";
@import "misc/kg.css";
@import "misc/utils.css";
@import "misc/animations.css";
@import "misc/dark.css";

:root {
    --brand-color: rgb(3, 151, 90);
}

.site-header .logo-text {
    color: var(--darker-gray-color);
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

.c-cover-image {
    padding: 9rem 0;
}

.c-cover-image .cover-content {
    max-width: 100%;
}

.button[data-portal="signup"] {
    background-color: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color);
}